[Unit]
Description=Systeam Health Daemon

[Service]
Type=forking
PIDFile=/var/run/system-health-daemon.pid
ExecStart=/usr/local/bin/system-health-daemon start
ExecStop=/usr/local/bin/system-health-daemon stop
ExecReload=/usr/local/bin/system-health-daemon restart